@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<html>

<head>
    <title>GİRİS SAYFASİ Registration</title>
    <link rel="stylesheet"
          href="style.css">
</head>

<body>
    <div class="main">
        <h1>GİRİŞ</h1>
        <form action="">
            <label for="first">
                Kullanıcı adı:
            </label>
            <input type="text"
                   id="first"
                   name="first"
                   placeholder="Kullanıcı adınızı girin" required>

            <label for="Şifre">
                Şifre:
            </label>
            <input type="password"
                   id="password"
                   name="password"
                   placeholder="Şifrenizi girin" required>

            <div class="wrap">
                <button type="Giris"
                        onclick="solve()">
                    Giriş Yap
                </button>
            </div>
        </form>
        
    </div>
</body>

</html>



